* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, sans-serif;
}

.navbar {
  grid-area: nav;
  color: black;
  padding: 20px;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul {
  list-style: none;
  position: absolute;
  left: 340px;
  top: 15px;
}

.navbar ul li {
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  display: inline-block;
  margin-left: 20px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s;
}


.navbar ul li a:hover {
  color: rgba(184, 42, 59, 0.805);
}

.page {
  height: 2%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px auto 170px;
  grid-template-areas: "logo logo logo nav nav nav nav nav nav nav nav nav"
    "main main main main main main main main main side side side"
    "foot foot foot foot foot foot foot foot foot foot foot foot ";
  width: 100%;
}

.navbar {
  grid-area: nav;
  position: relative;
  color: #000;
}


/* Media Queries */
@media screen and (max-width:900px) {

  .page {
    height: 200vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 70px auto 176px;
    grid-template-areas:
      "nav nav nav nav nav nav nav nav nav"
      "main main main main main main main"
      "foot foot foot foot foot foot foot";
  }

  .log a {
    font-size: 15px;
    position: absolute;
    left: 40px;
    top: 25px;

  }

  .navbar ul {
    list-style: none;
    position: absolute;
    left: 0px;
    top: 15px;
  }

  .main h2 {
    position: absolute;
    top: 30px;
    left: 200px;


  }

  .main .flex-contener {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
  }

}

@media screen and (max-width: 768px) {

  .navbar {
    position: relative;

  }

  .navbar ul {
    list-style: none;
    position: absolute;
    left: 0px;
    top: 15px;
  }

  .navbar ul li {

    left: 145px;
    top: 15px;
  }

}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  margin: auto;
}

/* Each image item */
.image-item {
  flex: 1 1 calc(33.33% - 10px);
  /* 3 columns */
  box-sizing: border-box;
}

/* Style the images */
.image-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  /* Optional rounded corners */
}


.image-item h4 {
  text-align: center;
}

.main .flex-contener {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 600px;
  margin: auto;
}

.main .flex-contener img {
  margin-bottom: 40px;
}

.main .flex-contener div a figure {
  position: relative;
}

.main .flex-contener div a figure figcaption {
  position: absolute;
  top: 300px;
  left: 50px;
}













@media (min-width:400px) and (max-width: 500px) {
  .page {
    height: 200vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 55px auto 530px 200px;
    grid-template-areas:
      "nav"
      "main"
      "foot"
  }

  .log a {
    font-size: 20px;
    position: absolute;
    left: 40px;
    top: 15px;
  }

  .navbar ul li {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    margin-left: 5px;
  }

  .main h2 {
    position: absolute;
    top: 25px;
    left: 80px;
    font-size: 20px;
  }

  .main .flex-contener {
    flex-direction: column;
    margin-left: 5px;
  }

  .sidebar .myphoto {
    position: absolute;
    right: 80px;
    top: 0px;
  }

  .sidebar button {
    position: absolute;
    left: 130px;
    top: 400px;
  }

  .main .plog-post .plog-content h2 {
    font-size: 12px;
    margin: 0 0 10px;
    color: #fff;
    position: absolute;
    top: -15px;
    left: 20px;
  }

}

@media screen and (max-width: 600px) {

  .main h2 {
    position: absolute;
    top: 20px;
    left: 120px;
    color: #00778c;
  }

  .main .flex-contener {
    flex-direction: column;
    margin-left: 5px;
  }


  .main .plog-post .plog-content h2 {
    font-size: 12px;
    margin: 0 0 10px;
    color: #fff;
    position: absolute;
    top: -15px;
    left: 20px;
  }
}

@media screen and (max-width: 400px) {
  .page {
    height: 292px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 60px auto 600px 280px;
    grid-template-areas:
      "nav"
      "main"
      "foot"
  }

  .log a {
    font-size: 20px;
    position: absolute;
    left: 40px;
    top: 15px;
  }

  .navbar ul li {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    margin-left: 5px;
  }

  .main h2 {
    position: absolute;
    top: 25px;
    left: 80px;
    font-size: 20px;
  }

  .main .flex-contener {
    flex-direction: column;
    margin-left: 5px;
  }


  .main h1 {
    position: absolute;
    top: 30px;
    left: 140px;
  }

  .main .plog-post .plog-content h2 {
    font-size: 12px;
    margin: 0 0 10px;
    color: #fff;
    position: absolute;
    top: -15px;
    left: 20px;
  }

}